<form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employee)">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Create Employee</h3>
    </div>

    <!-- full name -->
    <div class="panel-body">
      <div class="form-group" [class.has-error]="name.invalid && name.touched" [class.has-success]="name.valid">
        <label for="name" class="control-label">Full Name</label>
        <input type="text" id="name" [(ngModel)]="employee.name" name="name" class="form-control" placeholder="Name"
          required #name="ngModel">
        <span class="help-block" *ngIf="name.invalid && name.touched">Full name is required</span>
      </div>

      <!-- email -->
      <div class="form-group" [class.has-error]="email.invalid">
        <label for="email" class="control-label">Email</label>
        <input type="text" id="email" [(ngModel)]="employee.email" name="email" #email="ngModel" class="form-control"
          placeholder="Email Address" [required]="contactPreference.value == 'email'" pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$">
        <span class="help-block" *ngIf="email.errors?.required">Email is required</span>
        <span class="help-block" *ngIf="email.errors?.pattern">Email is invalid</span>
      </div>

      <!-- phone -->
      <div class="form-group" [class.has-error]="phone.invalid">
        <label for="phoneNumber" class="control-label">Phone Number</label>
        <input type="text" id="phoneNumber" [(ngModel)]="employee.phoneNumber" name="phoneNumber" class="form-control"
          placeholder="Phone number" [required]="contactPreference.value == 'phone'" #phone="ngModel">
        <span class="help-block" *ngIf="phone.invalid">Phone is required</span>
      </div>

      <!-- contact preference -->
      <div class="form-group" [class.has-error]="contactPreference.invalid && contactPreference.touched"
        [class.has-success]="contactPreference.valid">
        <label class="control-label">Contact Preference</label>
        <div class="form-control">
          <label class="radio-inline">
            <input type="radio" name="contactPreference" value="email" [(ngModel)]="employee.contactPreference"
              required #contactPreference="ngModel">
            Email
          </label>
          <label class="radio-inline">
            <input type="radio" name="contactPreference" value="phone" [(ngModel)]="employee.contactPreference"
              required #contactPreference="ngModel">
            Phone
          </label>
        </div>
        <span class="help-block" *ngIf="contactPreference.touched && contactPreference.invalid">Contact preference is
          required</span>
        <!-- Contact Preference Selected Value: {{ contactPreference.value }} -->
      </div>

      <!-- gender -->
      <div class="form-group" [class.has-error]="gender.touched && gender.invalid" [class.has-success]="gender.valid">
        <label class="control-label">Gender</label>
        <div class="form-control">
          <label class="radio-inline">
            <input type="radio" value="male" name="gender" [(ngModel)]="employee.gender" required #gender="ngModel">
            Male
          </label>
          <label class="radio-inline">
            <input type="radio" value="female" name="gender" [(ngModel)]="employee.gender" required #gender="ngModel">
            Female
          </label>
        </div>
        <span class="help-block" *ngIf="gender.touched && gender.invalid">Gender is required</span>
      </div>

      <!-- is active -->
      <div class="form-group">
        <div class="form-control">
          <label class="checkbox-inline">
            <input type="checkbox" name="isActive" [(ngModel)]="employee.isActive" #isActive="ngModel">
            Is Active
          </label>
        </div>
      </div>

      <!-- department -->
      <div class="form-group" [class.has-error]="department.touched && department.invalid">
        <label for="department" class="control-label">
          Department
        </label>
        <select id="department" class="form-control" name="department" [(ngModel)]="employee.department" required #department="ngModel">
          <option [ngValue]="null">Select a Department</option>
          <!-- structural directive -->
          <option *ngFor="let dept of departments" [value]="dept.id">
            {{dept.name}}
          </option>
        </select>
        <span class="help-block" *ngIf="department.touched && department.invalid">Department is required</span>
      </div>

      <!-- uses ngx-bootstrap -->
      <!-- date of birth -->
      <div class="row">
        <div class="form-group col-md-3">
          <label for="dateOfBirth">Date of Birth</label>
          <input type="text" id="dateOfBirth" [(ngModel)]="employee.dateOfBirth" name="dateOfBirth" bsDatepicker class="form-control"
            placeholder="Datepicker" [bsConfig]="bsConfig" placement="right">
        </div>
      </div>

      <!-- photo -->
      <div class="form-group">
        <label for="photoPath">Photo path</label>
        <input type="text" id="photoPath" [(ngModel)]="employee.photoPath" name="photoPath" class="form-control"
          placeholder="Path to photo">
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="button" (click)="togglePhotoPreview()">{{ previewPhoto ? "Hide" : "Show"
          }}
          Preview</button>
      </div>

      <div class="form-group">
        <img [src]="employee.photoPath" style="max-width: 200px" *ngIf="previewPhoto">
      </div>


    </div>
    <!-- end panel-body -->

    <div class="panel-footer">
      <button type="submit" class="btn btn-primary" [disabled]="employeeForm.invalid">Save</button>
    </div>
  </div>
</form>


<p>Angular generated form model: {{employeeForm.value | json}}</p>
<p>Employee Model: {{ employee | json }}</p>
